*~
*.aux
*.log
*.pdf
*.ids
*.jax
*.oc
*.out
ximera.cls
xourse.cls
*.sagetex.sage
*.synctex
*.bbl
*.blg
*.toc
*.cls
# Xake stuff
*.synctex\(busy\) 
*.synctex.gz
*.fdb_latexmk
*.fls
*.html.bak
*.idv
*.log
*.tmp
*.xref
*.4tc
*.4ct
*.idv
*.dpth
*.md5
*.png
*.svg
*.xbb
*.auxlock
*.dvi
*.html
*.lg
*.json
*#
*.py
*.sout
*.scmd

# Ignore deploy scripts
build.sh
gpgkey
mypdflatex
# Ignore all `auto'-generated directories
auto/
